# Server configuration
PORT=3000

# Set HEADLESS to "false" to view browser automation in action
# Set HEADLESS to "true" (default) for quiet background API execution
HEADLESS=true


PAGESPEED_API_KEY=AIzaddugfcygifrfhu_6OIWqeTvcPLYv0gu1s